DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKVlc1V1Y5MUs3TVFNUjNIQkJRQk03MVEiLCJ0ZW5hbnRfaWQiOiJhMGFlZDk5NTRkZThlM2ZhYjZmMGUzZjBjNzBlZmFjZjkzNjAyM2RlNWMzYzE1ZTBkZGM1ZWE0OGEzOTY3MjFmIiwiaW50ZXJuYWxfc2VjcmV0IjoiYjEwMTY0ODctNjQ0NS00MWM5LWI3NjMtODZmYWU0YWJhYTJhIn0._Lt2KnsVv0QPQU8bEtA4qdCLSE-m9DaDd8WFzLD0Zb0"
PRISMA_ACCELERATE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKVlc2QVMwUkRTN1JSR01WNzgzUzk1TjQiLCJ0ZW5hbnRfaWQiOiJhMGFlZDk5NTRkZThlM2ZhYjZmMGUzZjBjNzBlZmFjZjkzNjAyM2RlNWMzYzE1ZTBkZGM1ZWE0OGEzOTY3MjFmIiwiaW50ZXJuYWxfc2VjcmV0IjoiYjEwMTY0ODctNjQ0NS00MWM5LWI3NjMtODZmYWU0YWJhYTJhIn0.uSNKGpqwCqN7UUxXlJ7-HesBqzQU9kA1G9l5k_ZibOQ"